body{
    background-color: #c4c1ad;
    margin: 0;
    padding: 0;
}

h1,h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    color: rgb(46, 20, 130);
    margin: 1em;
    padding: 0;
    display: flex;
    justify-content: center;

}

.form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    
    margin: 0 auto;
    margin-top: 1em;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 92, 128);
    border: none;
    color: white;
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: 300;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(46, 20, 130);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.btn:active{
    background-color: rgb(190, 165, 23);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.form-control{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(46, 20, 130);
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: 300;
}

.container{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(46, 20, 130);
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: 300;
}

.table{
    margin:15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(46, 20, 130);
    border-radius: 0.5em;
}

.btn-danger{
    background-color: rgb(158, 13, 13);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    border: none;
    color: white;
    border-radius: 0.5em;
    padding: 5px;
    cursor: pointer;
}

.btn-primary{
    background-color: rgb(78, 78, 72);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    border: none;
    color: white;
    border-radius: 0.5em;
    padding: 5px;
}

.btn-success{
    background-color: rgb(9, 128, 47);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    border: none;
    color: white;
    border-radius: 0.5em;
    padding: 5px;
    cursor: pointer;
}

.card-text{
    font-size:1em;
    font-weight: 300;
    color: rgb(46, 20, 130);
}

